<%= render :partial => 'post', :object => @post %>
<a name="comments"></a>
<%= render :partial => 'comment', :collection => @post.comments.sort_by(&:id) %>
<hr />
<% form_for @comment do|f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :post_id %>
  <%= f.hidden_field :user_id %>

  <% if !logged_in? %>
    <p>
      <%= f.label "Your name:" %><br />
      <%= f.text_field :author %>
    </p>
  <% else %>
    <%= f.hidden_field :author, :value => current_user.login %>
  <% end %>

  <p>
    <%= f.label "Comment:" %><br />
    <%= f.text_area :body %>
  </p>

  <% if !logged_in? %>
    <p>
      <%= f.label "123 + 321 = " %><br />
      <input name="captcha" type="text" />
    </p>
  <% end %>

  <p>
    <%= f.submit "Post Comment" %>
  </p>
<% end %>
