<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Posts: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'http://yui.yahooapis.com/2.5.2/build/reset-fonts-grids/reset-fonts-grids.css' %>
  <%= stylesheet_link_tag 'http://yui.yahooapis.com/2.5.2/build/base/base-min.css' %>
  <%= stylesheet_link_tag 'fg' %>
</head>
<body>

  <% if logged_in? %>
    <p><strong>You are logged in as <%=h current_user.login %></strong></p>
    <p><%= link_to 'Logout', logout_path %></p>
  <% else %>
    <p><strong>You are currently not logged in.</strong></p>
    <p>
      <%= link_to 'Login', login_path %>
    </p>
  <% end %>
  <% if current_user.is_admin %>
    <p>
      <%= link_to 'View users', users_path %>
    </p>
  <% end %>

  <div id="doc">
    <div id="hd">
      <h1><a href="/">Friendly Grinder</a></h1>
    </div>

    <div id="bd">
      <p class="flash"><%= flash[:notice] %></p>
      <%= yield %>
    </div>

    <div id="ft">
      <small>Powered by <a href="http://rubyonrails.org/">Ruby on Rails</a></small>
    </div>
  </div>

</body>
</html>
